body {
  font-family: "Nunito Sans";
  background-image: linear-gradient(to bottom right, #b4defe, white);
  color: #444344;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.header {
  justify-content: space-between;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header button {
  border: transparent;
  background: transparent;
}
.header img {
  height: auto;
}
h1 {
  font-size: 2.8vw;
  font-weight: 900;
  color: #444344;
  text-shadow: 5px 5px 7px #b3b3b3;
}
h2 {
  font-weight: 900;
  text-shadow: 5px 5px 7px #b3b3b3;
  font-size: 2vw;
  color: black;
}
h3 {
  font-size: 1.5vw;
  font-weight: 600;
  color: #8eab3d;
}
h4 {
  font-size: 1.4vw;
}
h5 {
  font-size: 2vw;
  font-weight: 600;
}
h6 {
  font-size: 1vw;
}
p {
  font-size: 1.3vw;
  font-weight: 600;
}
a {
  font-size: 25px;
  font-weight: 800;

  text-decoration: underline;
  text-underline-offset: 5px;
  color: #444344;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 2px 2px 2px #b3b3b3;
}
a:hover {
  color: #444344;
}
@media (max-width: 1800px) {
  .header .btn {
    width: 15%;
  }
}
@media (max-width: 1800px) {
  .header .tewohead {
    transform: translateY(25%);
  }
}
@media (max-width: 1800px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3.2vw;
  }
  h3 {
    font-size: 2.7vw;
  }
  h4 {
    font-size: 2.6vw;
  }
  h5 {
    font-size: 3.2vw;
  }
  h6 {
    font-size: 2.2vw;
  }
  p {
    font-size: 2.5vw;
  }
}
.tewohead {
  padding-top: 20px;
}
@media (max-width: 830px) {
  a {
    font-size: 2.5vw;
  }
  .tewohead {
    padding-top: 15px;
  }
}
@media (max-width: 650px) {
  a {
    font-size: 2.5vw;
  }
  .tewohead {
    padding-top: 5px;
  }
}
@media (max-width: 400px) {
  a {
    font-size: 2.5vw;
  }
  .tewohead {
    padding-top: 0px;
  }
}
@media (max-width: 998px) {
  .header {
    padding-right: 13%;
  }
  .header img {
    width: 150%;
  }
}
@media (max-width: 780px) {
  .header {
    padding-right: 10%;
  }
  .header img {
    width: 150%;
  }
}
@media (max-width: 600px) {
  .header {
    padding-right: 10%;
  }
  .header img {
    width: 170%;
  }
}
@media (max-width: 500px) {
  .header {
    padding-right: 10%;
  }
  .header img {
    width: 230%;
  }
}
@media (max-width: 400px) {
  .header {
    padding-right: 10%;
  }
  .header img {
    width: 270%;
  }
}
.carousel {
  background: transparent;
}

.carousel-cell {
  width: 20%;
  height: 30%;
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter();
  line-height: 300px;
  font-size: 80px;
  color: transparent;
}
.carousel-cell img {
  width: 100%;
}
.carousel-cell button {
  border: transparent;
  background: transparent;
}
.carousel-cell button:hover {
  background: transparent;
}
.carousel-cell:hover {
  background: transparent;
}
.btn:hover {
  background: transparent;
}
.modal-content {
  background: transparent;
  border: transparent;
  width: 150%;
  left: -25%;
}
.imgr {
  background-image: linear-gradient(to top left, white, #b4defe);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
  width: 103.5%;
  transform: translateX(-1.75%);
}
.modal-body p {
  font-size: 20px;
  font-weight: 700;
}
.modal-body h3 {
  color: #444344;
  font-size: 25px;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .modal-body p {
    font-size: 2vw;
    font-weight: 700;
  }
  .modal-body h3 {
    color: #444344;
    font-size: 2.2vw;
    font-weight: 900;
  }
}
@media (max-width: 800px) {
  .modal-content {
    width: 100%;

    left: 4%;
  }
  .modal-content img {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .carousel-cell {
    width: 40%;
  }
  .carousel-cell img {
    width: 100%;
  }
  .modal-content {
    width: 80%;

    left: 10%;
  }
  .modal-content img {
    width: 50%;
  }
}
